
WebApi/Intel.PokerX/Intel.PokerX.WebAPI/obj/x64/Debug/netcoreapp3.1/Intel.PokerX.WebAPI.AssemblyInfoInputs.cache
WebApi/Intel.PokerX/Intel.PokerX.WebAPI/obj/x64/Debug/netcoreapp3.1/Intel.PokerX.WebAPI.AssemblyInfo.cs
WebApi/Intel.PokerX/Intel.PokerX.WebAPI/obj/x64/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
WebApi/Intel.PokerX/Intel.PokerX.WebAPI/obj/x64/Debug/netcoreapp3.1/Intel.PokerX.WebAPI.csproj.AssemblyReference.cache
WebApi/Intel.PokerX/Intel.PokerX.WebAPI/obj/x64/Debug/netcoreapp3.1/Intel.PokerX.WebAPI.GeneratedMSBuildEditorConfig.editorconfig
WebApi/Intel.PokerX/.vs/Intel.PokerX/config/applicationhost.config
WebApi/Intel.PokerX/.vs/Intel.PokerX/DesignTimeBuild/.dtbcache.v2
WebApi/Intel.PokerX/.vs/Intel.PokerX/v16/.suo
WebApi/Intel.PokerX/Intel.PokerX.WebAPI/bin/x64/Debug/netcoreapp3.1/appsettings.Development.json
WebApi/Intel.PokerX/Intel.PokerX.WebAPI/bin/x64/Debug/netcoreapp3.1/appsettings.json
WebApi/Intel.PokerX/Intel.PokerX.WebAPI/bin/x64/Debug/netcoreapp3.1/DataProviders/CardRank.json
WebApi/Intel.PokerX/Intel.PokerX.WebAPI/bin/x64/Debug/netcoreapp3.1/Intel.PokerX.WebAPI.deps.json
WebApi/Intel.PokerX/Intel.PokerX.WebAPI/bin/x64/Debug/netcoreapp3.1/Intel.PokerX.WebAPI.dll
WebApi/Intel.PokerX/Intel.PokerX.WebAPI/bin/x64/Debug/netcoreapp3.1/Intel.PokerX.WebAPI.exe
WebApi/Intel.PokerX/Intel.PokerX.WebAPI/bin/x64/Debug/netcoreapp3.1/Intel.PokerX.WebAPI.pdb
WebApi/Intel.PokerX/Intel.PokerX.WebAPI/bin/x64/Debug/netcoreapp3.1/Intel.PokerX.WebAPI.runtimeconfig.dev.json
WebApi/Intel.PokerX/Intel.PokerX.WebAPI/bin/x64/Debug/netcoreapp3.1/Intel.PokerX.WebAPI.runtimeconfig.json
WebApi/Intel.PokerX/Intel.PokerX.WebAPI/bin/x64/Debug/netcoreapp3.1/Microsoft.OpenApi.dll
WebApi/Intel.PokerX/Intel.PokerX.WebAPI/bin/x64/Debug/netcoreapp3.1/Newtonsoft.Json.dll
WebApi/Intel.PokerX/Intel.PokerX.WebAPI/bin/x64/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.Swagger.dll
WebApi/Intel.PokerX/Intel.PokerX.WebAPI/bin/x64/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerGen.dll
WebApi/Intel.PokerX/Intel.PokerX.WebAPI/bin/x64/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerUI.dll
WebApi/Intel.PokerX/Intel.PokerX.WebAPI/obj/Intel.PokerX.WebAPI.csproj.nuget.dgspec.json
WebApi/Intel.PokerX/Intel.PokerX.WebAPI/obj/Intel.PokerX.WebAPI.csproj.nuget.g.props
WebApi/Intel.PokerX/Intel.PokerX.WebAPI/obj/Intel.PokerX.WebAPI.csproj.nuget.g.targets
WebApi/Intel.PokerX/Intel.PokerX.WebAPI/obj/project.assets.json
WebApi/Intel.PokerX/Intel.PokerX.WebAPI/obj/project.nuget.cache
WebApi/Intel.PokerX/Intel.PokerX.WebAPI/obj/x64/Debug/netcoreapp3.1/apphost.exe
WebApi/Intel.PokerX/Intel.PokerX.WebAPI/obj/x64/Debug/netcoreapp3.1/Intel.PokerX.WebAPI.assets.cache
WebApi/Intel.PokerX/Intel.PokerX.WebAPI/obj/x64/Debug/netcoreapp3.1/Intel.PokerX.WebAPI.csproj.CopyComplete
WebApi/Intel.PokerX/Intel.PokerX.WebAPI/obj/x64/Debug/netcoreapp3.1/Intel.PokerX.WebAPI.csproj.CoreCompileInputs.cache
WebApi/Intel.PokerX/Intel.PokerX.WebAPI/obj/x64/Debug/netcoreapp3.1/Intel.PokerX.WebAPI.csproj.FileListAbsolute.txt
WebApi/Intel.PokerX/Intel.PokerX.WebAPI/obj/x64/Debug/netcoreapp3.1/Intel.PokerX.WebAPI.dll
WebApi/Intel.PokerX/Intel.PokerX.WebAPI/obj/x64/Debug/netcoreapp3.1/Intel.PokerX.WebAPI.genruntimeconfig.cache
WebApi/Intel.PokerX/Intel.PokerX.WebAPI/obj/x64/Debug/netcoreapp3.1/Intel.PokerX.WebAPI.MvcApplicationPartsAssemblyInfo.cache
WebApi/Intel.PokerX/Intel.PokerX.WebAPI/obj/x64/Debug/netcoreapp3.1/Intel.PokerX.WebAPI.MvcApplicationPartsAssemblyInfo.cs
WebApi/Intel.PokerX/Intel.PokerX.WebAPI/obj/x64/Debug/netcoreapp3.1/Intel.PokerX.WebAPI.pdb
WebApi/Intel.PokerX/Intel.PokerX.WebAPI/obj/x64/Debug/netcoreapp3.1/Intel.PokerX.WebAPI.RazorTargetAssemblyInfo.cache
WebApi/Intel.PokerX/Intel.PokerX.WebAPI/obj/x64/Debug/netcoreapp3.1/staticwebassets/Intel.PokerX.WebAPI.StaticWebAssets.Manifest.cache
WebApi/Intel.PokerX/Intel.PokerX.WebAPI/obj/x64/Debug/netcoreapp3.1/staticwebassets/Intel.PokerX.WebAPI.StaticWebAssets.xml
