<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/2a200f25-1055-4365-ba1a-e894e460e545/resourcegroups/IntelPokerXWebAPI20220519191345ResourceGroup/providers/Microsoft.Web/sites/IntelPokerXWebAPI20220519191345</ResourceId>
    <ResourceGroup>IntelPokerXWebAPI20220519191345ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/2a200f25-1055-4365-ba1a-e894e460e545/resourceGroups/IntelPokerXWebAPI20220519191345ResourceGroup/providers/Microsoft.ApiManagement/service/IntelPokerXWebAPIapi/apis/IntelPokerXWebAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://intelpokerxwebapi20220519191345.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>69bbd40c-3182-4b6e-be2b-34d4ef468e39</ProjectGuid>
    <MSDeployServiceURL>intelpokerxwebapi20220519191345.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>IntelPokerXWebAPI20220519191345</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>True</EnableMsDeployAppOffline>
    <UserName>$IntelPokerXWebAPI20220519191345</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>